---
import Features from '../components/Features.astro';
import Hero from '../components/hero.astro';
import Layout from '../layouts/Layout.astro';
import Roadmap from '../components/Roadmap.astro';
---

<Layout>
  <!-- Background gradients -->
  <div class="fixed inset-0 overflow-hidden pointer-events-none">
    <div class="absolute top-0 -left-40 w-200 h-100 bg-rose-500 mix-blend-multiply blur-3xl opacity-15 rotate-12"></div>
    <div class="absolute top-1/4 right-0 w-200 h-100 bg-rose-600 mix-blend-multiply blur-3xl opacity-5 rounded-full"></div>
    <div class="absolute bottom-0 left-1/4 w-200 h-100 bg-rose-400 mix-blend-multiply blur-3xl opacity-10 -rotate-12 skew-x-12"></div>
  </div>

  <main class="container mx-auto px-4 my-12 lg:my-24 z-10 space-y-32">
    <Hero />
    <Features />
    <Roadmap />
  </main>
</Layout>
