<header class="container mx-auto p-6">
    <nav class="flex justify-between items-center">
        <a href="/">
            <img src="/public/MYC0-1.svg" alt="MYC0-1 Logo" class="w-32" />
        </a>
        <div class="space-x-4">
            <a href="https://github.com/Domza64/MYC0-1">Github</a>     
            <a 
            href="/getting-started/installation"
            class="px-6 py-3 bg-white/5 hover:bg-white/10 border border-white/10
					rounded-lg transition-all duration-300 hover:text-stone-100!"
            >
            Get Started
            </a>
        </div>
    </nav>
</header>