<section class="flex flex-col xl:flex-row xl:items-center items-start gap-16">
    <!-- Text Content -->
    <div class="max-w-3xl">
        <div class="inline-flex px-4 py-1.5 bg-rose-500/10 border border-rose-500/20 rounded-full mb-6">
        <span class="text-rose-400 text-sm font-medium">
            Open Source • Self-Hosted • Privacy-First
        </span>
        </div>

        <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold leading-tight pb-6">
        Your Music,
        <br />
        <span class="text-rose-500">Your Control</span>
        </h1>

        <p class="text-lg md:text-xl text-stone-300 leading-relaxed pb-10">
        Transform your local music collection into a beautiful streaming service.
        Self-contained, privacy-focused, and built for music lovers who value ownership.
        </p>

        <div class="flex flex-wrap gap-4">
        <a
            href="/getting-started/installation"
            class="px-8 py-4 bg-rose-600 rounded-lg font-semibold
                hover:shadow-lg hover:shadow-rose-500/40 hover:text-stone-100! transition-all ring-1 ring-rose-400 duration-300 hover:scale-105"
        >
            Start Streaming
        </a>

        <button
            disabled
            class="px-8 py-4 bg-stone-800/50 border border-stone-700 rounded-lg
                font-semibold text-stone-500 cursor-not-allowed"
            title="Coming soon"
        >
            Online Demo (Soon)
        </button>

        <a
            href="https://github.com/domza64/myco-1"
            class="px-8 py-4 bg-white/5 hover:bg-white/10 border border-white/10
                rounded-lg font-semibold transition-all duration-300 hover:text-stone-100! hover:scale-105"
        >
            View on GitHub
        </a>
        </div>
    </div>

    <!-- Image Preview -->
    <div
        class="hidden lg:block max-w-2xl w-full overflow-hidden rounded-3xl
                ring-1 ring-white/10"
    >
        <img
        src="/demo.png"
        alt="Application preview"
        class="w-full h-auto object-contain"
        />
    </div>
</section>